<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41078469872-nvfqf87q6ij8mv72lhdc7dir23pj010g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41078469872-nvfqf87q6ij8mv72lhdc7dir23pj010g</string>
	<key>API_KEY</key>
	<string>AIzaSyDA9L-S1blUXr-b-B1M4-wBecQQxe6O91g</string>
	<key>GCM_SENDER_ID</key>
	<string>41078469872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>esprit.final</string>
	<key>PROJECT_ID</key>
	<string>espritfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>espritfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41078469872:ios:ce0ba545a3996dc08bfe35</string>
</dict>
</plist>